# Chapter 3
## Data Manipulation

In [ ]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

sns.set()

# The line below one is only needed for this workshop
from done import imdone, quizanswer

In [ ]:
# Make figures bigger in presentation
from matplotlib import rcParams
rcParams['figure.dpi'] = 144

We already saw a small example at the end of chapter 1 when we talked about data sanitation. We filtered the data in such a way that we only saw the names that were only one letter long.

Here we will again focus on the baby names data set. So load the CSV again as we did before.
### Exercise 3.1
Load `data/ontariobabynames.csv` and store the result in the object `babynames`.

In [ ]:
imdone(3,1)

## Selecting Data

Remember from chapter 1, we can select data by column by using the column name, by index using the data frame index number (usually the same as the array index, but not always!), or with `iloc` using the raw array indices. 

`iloc` is faster since there is no comparison of labels. Most of the times, you won't notice a difference, but if you are doing many operations, you may want to use this.

In [ ]:
# Gets the 123457th element of the third column. Remember that array indices start at zero
babynames.iloc[123456,2]

However, there is one peculiarity about selecting by column. If you select a column through `df["colname"]` you get an Python array back. If you select a column through `df[["colname"]]` you get a DataFrame.

It's preferable to keeping a DataFrame because that preserves the column name and keeps access to the DataFrame functions. It's also in line with how you select multiple columns through `df[["colname1","colname1"]]`. You are giving a list of columnnames.

However, when comparing the raw data of a column like you do when selecting with `df["colname"] == "something"`, you should still keep the single \[ \].

In [ ]:
babynames["count"]

In [ ]:
babynames[["count"]]

## Filtering
If we try to plot the number of babynames as a function of time, it will not be very illuminating. Also, this takes some time considering that we have almost one million rows in our data set depending on how busy Syzygy is, so don't try to run the next line.

In [ ]:
sns.scatterplot(x="year", y="count", color="black", data=babynames)

Instead we would like to pick out one name and use that. How to do that?

Luckily pandas is build for this sort of thing. We can tell pandas to only select certain rows based on criteria we provide. The syntax is
```
dataframe[some condition]
```
where `some condition` is something we would like to select on. You can see this is similar to selecting rows or columns as we saw before.

The conditions are in the form of
```
dataframe["column name"] == "something"
```

So let's try that out. We can look at the popularity of the name Mary.

In [ ]:
babynames[babynames["name"] == "Mary"].head()

### Exercise 3.2
Plot your own name as a function of time. Fill in the `...` below. If your name is not in the data, you'll be happy to know that you are very unique. However, you'll also get an empty result. For the purpose of this exercise, just use any other name.  Run the cell with `imdone(3,2)` when you are done.

In [ ]:
babynames[babynames["name"] == "..."].head()

In [ ]:
imdone(3,2)

If you happen to be male, you may notice that it is showing female babies if you name is used by all genders. We'll get to that in a minute, but in the mean time, you can use `tail()` to see the bottom of the dataframe.

## Logical tests
When we selected all of the female babies named Mary and Marie we used logical tests. These are statements that are either `True` or `False`. There are various comparisons possible

| Notation | `True` if                           |
| -------  | ----------------------------------- |
| `x < y`  | `x` is less than `y`                |
| `x > y`  | `x` is greater than `y`             |
| `x == y` | `x` is equal to `y`                 |
| `x <= y` | `x` is less than or equal to `y`    |
| `x >= y` | `x` is greater than or equal to `y` |
| `x != y` | `x` is not equal to `y`             |
| `x.isin(["a","b"])` | `x` is either "a" or "b" |

In [ ]:
x = 1

In [ ]:
x > 2

### Quiz 3.1
From chapter 1 we saw various possibilities for values, like `1` and `"one"`.

There is another value called `nan` (denoted as `np.nan` since it is part of Numpy).

What might `nan` stand for?

<div style="margin-bottom: 20em;" />

### Quiz 3.2
What is the result?

```
1 == 1
```

<div style="margin-bottom: 20em;" />

### Quiz 3.2
What is the result?

```
1 == np.nan
```

<div style="margin-bottom: 20em;" />

### Quiz 3.4
What is the result?

```
np.nan == np.nan
```

<div style="margin-bottom: 20em;" />

## Logical tests, now with isna

| Notation | `True` if                           |
| -------  | ----------------------------------- |
| `x < y`  | `x` is less than `y`                |
| `x > y`  | `x` is greater than `y`             |
| `x == y` | `x` is equal to `y`                 |
| `x <= y` | `x` is less than or equal to `y`    |
| `x >= y` | `x` is greater than or equal to `y` |
| `x != y` | `x` is not equal to `y`             |
| `x["column"].isin(["a","b"])` | `x` is either "a" or "b" |
| `pd.isna(x)` | `x` is a missing value          |
| `!pd.isna(x)` | `x` is not a missing value          |

### Exercise 3.3
Using the logical tests and the selection method, find:
- All of the rows where prop is greater than or equal to 0.06
- All of the children named "Alberta"

In [ ]:
imdone(3,3)

## Common mistakes
Beware, `==` and `=` mean different things! `==` is the comparison operator, `=` is the assignment operator.

Also, remember the quotes. `"hello"` is a string value, `hello` is an object.
## Boolean operators
Logical statements can be combined to make more complex version.

| Operator in dataframes | Operator for variables | Meaning |
| -------- | ------- | ------- |
| `&`      | `and`   | and     |
| `\|`     | `or`    | or      |
| `!`      | `not`   | not     |
| `(  )`   | `(  )`  | group tests |

```
x = 2

(x >= 2) & (x < 3)
True & True
True
```

### Exercise 3.4
- Find the boys named Mary
- Find the names that were used by exactly 5 or 6 children in 1920
- Find the names that are either John, Jon, Johnny or Johnnie

In [ ]:
imdone(3,4)

## More common mistakes
### Combining test into one
Wrong: `10 < df["n"] < 20`<br />
Right: `(10 < df["n"]) & df["n"] < 20`

### Making too many tests
"Wrong": `df[(df["colname"] == "a") & (df["colname"] == "b") & (df["colname"] == "c")]`<br />
Right: `df[df["colname"].isin(["a", "b", "c"])]`

## Sorting
Pandas allows you to sort data based on columns using the function `sort_values`. So for our `babynames` DataFrame, we can use `babynames.sort_values`. Let's look at the help to see what the options are.

In [ ]:
help(babynames.sort_values)

### Exercise 3.5
Use `sort_values` to find the largest value of "count".

Combine your knowledge of `sort_values` and the selection rules in this chapter to find the smallest value of "count" that is not zero.

In [ ]:
imdone(3,5)

We can combine all of these actions by storing the intermediate result. For example, if we want the name and number of the boy babies from 2015 sorted by number, we can do that!

In [ ]:
boys_2015 = babynames[(babynames["year"] == 2015) & (babynames["sex"] == "M")]
boys_2015 = boys_2015[["name", "count"]]
boys_2015 = boys_2015.sort_values(by="count", ascending=False)
boys_2015.head(10)

You can also stick is all together, but it doesn't look very pretty...

In [ ]:
babynames[(babynames["year"] == 2015) & (babynames["sex"] == "M")][["name", "count"]].sort_values(by="count", ascending=False).head(10)

### Excercise 3.6
Find the female babies born in 2007, keep only the name and count column and find the most popular names

In [ ]:
imdone(3,6)

## Plotting
Now plotting can be done by calling the plot function and, as before, specifying which columns needs to be plotted. Here we plot the number of female babies named Mary as a function of time.

In [ ]:
femalemary = babynames[(babynames["name"] == "Mary") & (babynames["sex"] == "F")]
sns.lineplot(x="year", y="count", data=femalemary)

This can also be combined in a single statement, although it doesn't exactly help readability.

In [ ]:
sns.lineplot(x="year", y="count", data=babynames[(babynames["name"] == "Mary") & (babynames["sex"] == "F")])

Let's get the female babies name Marie too.

In [ ]:
femalemarie = babynames[(babynames["name"] == "Marie") & (babynames["sex"] == "F")]

Trying to plot both means that Seaborn will make it into one plot for you as we saw in the previous chapter.

In [ ]:
sns.lineplot(x="year", y="count", data=femalemary)
sns.lineplot(x="year", y="count", data=femalemarie)

But again, FacetGrid plots, like those produced by `relplot` work slightly different. For those, you need to modify the data to be in the proper format. We will get to that later.

### Exercise 3.7 - mini-exam!

1. Trim babynames to just the rows that contain your name and your sex (or use a different name/sex if it wasn't in babynames)
2. Trim the result to just the columns that will appear in your graph (not strictly necessary, but useful practice)
3. Plot the results as a line graph with year on the x axis and prop on the y axis

In [ ]:
imdone(3,7)

### Quiz 3.5

Do we have enough information to:
- Calculate the total number of children with each name?

<div style="margin-bottom: 20em;" />

## Statistical functions

Panda dataframe have a number of statistical functions. For example `sum()`, `max()`, `min()`, `count()` and lots more. These can be applied to columns of data frames.

For example, to get the total number of babies in our dataset we can take the sum of the "count" column.

In [ ]:
babynames["count"].sum()

In [ ]:
babynames["count"].max()

In [ ]:
babynames["name"].nunique()

It also works without specifying the column name, it will do it for all of the columns. It's a lot of extra work though, so it's usually faster to select the column you are interested in and then apply the function.

In [ ]:
babynames.count()

### Exercise 3.8
Extract the rows where name == "Khaleesi". Then use sum() and min() to find:
1. The total number of children named Khaleesi
2. The first year Khaleesi appeared in the data

In [ ]:
imdone(3,8)

## Grouping
By "group by" we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

We saw that we could get the total number of babies named "Khaleesi", but can we do this for all of the baby names?

Let's see how grouping works first!

We'll use a small demo dataframe first, and then it's your turn.

In [ ]:
pollution = pd.DataFrame(
    {
        "city": [
            "New York",
            "New York",
            "London",
            "London",
            "Beijing",
            "Beijing",
        ],
        "size": [
            "large",
            "small",
            "large",
            "small",
            "large",
            "small",
        ],
        "amount": [
            23,
            14,
            22,
            16,
            121,
            56,
        ]
    })

In [ ]:
pollution

We can get the stats for the full data set

In [ ]:
pollution[["amount"]].mean()

In [ ]:
pollution[["amount"]].sum()

In [ ]:
pollution[["amount"]].count()

But that is not very interesting. What we really want to know is the stats per city. We can do that using grouping and specifically, the function `groupby()`.

In [ ]:
grouped_by_city = pollution.groupby("city")

We can see what's in it:

In [ ]:
grouped_by_city.groups

We can stats from that now

In [ ]:
grouped_by_city[["amount"]].mean()

In [ ]:
grouped_by_city[["amount"]].sum()

In [ ]:
grouped_by_city[["amount"]].count()

We can also group by multiple columns.

In [ ]:
grouped_by_city_and_size = pollution.groupby(["city", "size"])

In [ ]:
grouped_by_city_and_size.groups

In [ ]:
grouped_by_city_and_size[["amount"]].mean()

In [ ]:
grouped_by_city_and_size[["amount"]].sum()

In [ ]:
grouped_by_city_and_size[["amount"]].count()

Returning to our babyname now, we can group by sex and see the total number of babies in our data set for each gender.

In [ ]:
babynames_sex_count = babynames.groupby("sex")
babynames_sex_count = babynames_sex_count[["count"]]
babynames_sex_count.sum()

In [ ]:
# Short form:
babynames.groupby("sex")[["count"]].sum()

## Exercise 3.9
Complete the code with `groupby`, `sum` to display the ten most popular name and sex combinations. Compute popularity as the total number of children with a given name and sex.

Replace the `...` with the appropriate content.

In [ ]:
# Group the babynames
babynames_popularity = babynames.groupby(...)
# Select the column we want
babynames_popularity = babynames_popularity[[...]]
# Calculate the total sum
babynames_popularity = babynames_popularity. ...()
# Sort appropriately
babynames_popularity = babynames_popularity. ...
# Get the first ten 
babynames_popularity = babynames_popularity. ...
# Show the output
babynames_popularity

In [ ]:
imdone(3,9)

We can use this result to plot. However, we need to ungroup the new DataFrame first. Using `groupby` turns the grouping into indices. That's why "name" and "sex" are slightly offset.

We can undo that by calling `reset_index()`.

In [ ]:
babynames_popularity = babynames_popularity.reset_index()
babynames_popularity

And then we can plot it!

In [ ]:
p = sns.barplot(x="name", y="count", data=babynames_popularity, color="lightblue")
p.set_xticklabels(p.get_xticklabels(), size = 7)
pass

## Exercise 3.10
Use `groupby()` to calculate the total number of children born for every year.

Plot the results as a line graph: total vs year.

In [ ]:
imdone(3,10)

## Mutating data

We can add new columns to data frames on the fly which can be calculated.

In [ ]:
babynames["percentage"] = 100*babynames["prop"]

In [ ]:
babynames[babynames["count"]>0].head()

In [ ]:
babynames["nper"] = np.round(babynames["percentage"])

In [ ]:
babynames[babynames["nper"]>0].head()

## Saving Data
To save our modified data, we can use another pandas function similar to `read_csv`. This function is called `to_csv()` and can be applied directly to a data frame.

In [ ]:
babynames_year.to_csv("test.csv")